# Exclude Eclipse IDE files.
/.settings
/.buildpath
/.project

# Exclude composer.phar and helper symlink for composer script.
/composer
/composer.phar

# Exclude composer.lock (this is a library).
/composer.lock

# Exclude composer managed vendor directories.
/vendor
